Strings
- captilize,upper and lower and split strings
- find what is the position of a alphabet in a string useing count , index 
- find how to slice a string 
- use is check methods 
- printing in strings

In [54]:
s = 'yo I am merlyn'

In [56]:
s.capitalize() # captilizes first letter

'Yo i am merlyn'

In [58]:
# to find location and count of a specific thing in the string
# applies for tuples and lists as well 
s.count('y')

2

In [60]:
s.index('y')

0

In [3]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'n'

In [4]:
# Grab everything but the last letter
s[:-1]

'yo I am merly'

In [5]:
# Grab everything, but go in step sizes of 2
s[::2]

'y  mmry'

In [6]:
# We can use this to print a string backwards
s[::-1]

'nylrem ma I oy'

In [7]:
print(f'I am going to say{s}') # print formatting

I am going to sayyo I am merlyn

## is check methods
These various methods below check if the string is some case. Let's explore them:

<code>isalnum()</code> will return True if all characters in **s** are alphanumeric

In [71]:
s.isalnum()

False

In [72]:
p = 'budsftdgdgf'

In [73]:
p.isalpha() #only alphabets 

# if white spaces then it returns false

True

In [75]:
p.islower() # are all lower cases

True

In [76]:
p.isspace()

False

<code>istitle()</code> will return True if **s** is a title cased string and there is at least one character in **s**, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. It returns False otherwise.

In [80]:
title = 'I Am Great'

In [81]:
title.istitle()

True

In [83]:
title.endswith('t')

True

## Built-in Reg. Expressions
Strings have some built-in methods that can resemble regular expression operations.
We can use <code>split()</code> to split the string at a certain element and return a list of the results.
We can use <code>partition()</code> to return a tuple that includes the first occurrence of the separator sandwiched between the first half and the end half.

In [84]:
title.split('e')

['I Am Gr', 'at']

In [85]:
title = ('I am great')

In [89]:
title.partition(' ')

('I', ' ', 'am great')

## Formatting with the `.format()` method
A better way to format objects into your strings for print statements is with the string `.format()` method. The syntax is:

    'String here {} then also {}'.format('something1','something2')
    
For example:

In [8]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

#### 1. Inserted objects can be called by index position:

In [9]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

#### 2. Inserted objects can be assigned keywords:

In [11]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

# Lists

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [13]:
my_list = ['one','two','three',4,5]

In [14]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

# append and extend
## extend
Many times people find the difference between extend and append to be unclear. So note:

**append: appends whole object at end:**

In [97]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [96]:
x.extend([4,5])
x

[1, 2, 3, [4, 5], 4, 5]

In [15]:
my_list.append('append me!') # does not require assigning

In [16]:
my_list

['one', 'two', 'three', 4, 5, 'append me!']

## pop
You most likely have already seen <code>pop()</code>, which allows us to "pop" off the last element of a list. However, by passing an index position you can remove and return a specific element.

In [17]:
# Pop off the 0 indexed item
my_list.pop(-1)

'append me!'

In [18]:
my_list

['one', 'two', 'three', 4, 5]

### to insert a object at a specific place
<code>insert()</code> takes in two arguments: <code>insert(index,object)</code> This method places the object at the index supplied. For example:

In [103]:
x = [1, 2, 3]
x.insert(2,2)
x

[1, 2, 2, 3]

In [108]:
x.remove(2)

In [109]:
x

[2, 3]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [22]:
new_list = ['a','e','x','b','c']

In [23]:
new_list.reverse()

In [24]:
new_list # Use reverse to reverse order (this is permanent!)

['c', 'b', 'x', 'e', 'a']

In [25]:
new_list.sort()
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)

In [110]:
int_list = [1,2,3,4]

In [114]:
int_list.sort(reverse = True)
int_list # sort in descending order

[4, 3, 2, 1]

# Dictionaries

In [27]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [28]:
my_dict['key1']

123

In [29]:
my_dict['key3'][0].upper()b

'ITEM0'

In [33]:
my_dict.items()

dict_items([('key1', 123), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2'])])

In [34]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [36]:
my_dict.values()

dict_values([123, [12, 23, 33], ['item0', 'item1', 'item2']])

Creating dictionaries

In [30]:
d = {}

In [31]:
d['hey']= 'you'

In [32]:
d

{'hey': 'you'}

# Set and Booleans

In [115]:
x = set()

In [125]:
x.add('hey')

In [126]:
x

{'hey'}

In [127]:
x.add('hey')

In [128]:
x # takes only unique values

{'hey'}

In [129]:
x.add('you')

In [123]:
x.clear() # clears entire sets

In [124]:
x

set()

In [137]:
y = x.copy() # create a new set of the previous set

In [138]:
y.clear()
y

set()

## difference
difference returns the difference of two or more sets. The syntax is:

    set1.difference(set2)
For example:

In [139]:
x.difference(y) # since y is empty

{'hey', 'you'}

## difference_update
difference_update syntax is:

    set1.difference_update(set2)
the method returns set1 after removing elements found in set2

In [159]:
x = set()
x.add(1)
x.add(2)
x.add(3)
x

{1, 2, 3}

In [160]:
y = set()
y.add(3)

In [161]:
y

{3}

In [162]:
x.difference_update(y)

In [164]:
x

{1, 2}

## intersection and intersection_update
Returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [184]:
x = set()
x.add(1)
x.add(2)
x.add(3)
x

{1, 2, 3}

In [185]:
y = set()
y.add(2)
y.add(3)
y.add(4)
y

{2, 3, 4}

In [186]:
x.intersection(y)

{2, 3}

In [187]:
x.intersection_update(y)
x

{2, 3}

In [188]:
x.union(y)

{2, 3, 4}

## isdisjoint
This method will return True if two sets have a null intersection.

In [189]:
x.isdisjoint(y)

False

## issubset
This method reports whether another set contains this set.

In [191]:
x.issuperset(y) # population set

False

In [193]:
x.issubset(y) #This method reports whether another set contains this set.
# is x a subset of y

True

## discard
Removes an element from a set if it is a member. If the element is not a member, do nothing.

# Tuples

In [45]:
listt = [1,2,3]

In [46]:
listt[0] = 'yo'

In [48]:
listt  # lists are mutable however tuples are not

['yo', 2, 3]

In [49]:
t = (1,2,3)

In [50]:
t[0]

1

In [52]:
t.index(1)

0

In [53]:
t.count(1)

1


You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.